body {
    background-color: #222;
    color: #ddd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

button {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 20px;
}



#riverTravel { 
    display: none;
}

#fishgame {
    margin-top: 20px;
}

#fishButton1,
#fishButton2,
#fishButton3 {
    background-color: #444;
}

#fishCounter {
    margin-top: 10px;
}

#forestSection {
    margin-top: 20px;
}

#treeButton {
    background-color: #444;
}

#logCount {
    margin-top: 10px;
}

#logButton {
    background-size: cover;
    margin-top: 10px;
    border: none; /* Remove the default button border */
}

#warningText {
    font-size: 24px;
    margin-top: 10px;
}


#inventory {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 15px;
    padding-left: 5px;
  }


.craftTools {
  position: relative;
}

.itemInfo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  background-color: #3333;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.itemInfo h1 {
  font-size: 20px;
  margin-top: 0;
}

.itemInfo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.itemInfo h3,
.itemInfo h4,
.itemInfo p {
  margin: 0;
  padding: 0;
}

.itemInfo h3 {
  font-size: 16px;
  margin-top: 10px;
}

.itemInfo h4 {
  font-size: 14px;
  margin-top: 10px;
}

.itemInfo p {
  margin-top: 5px;
  font-size: 12px;
}

